ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
li {
    float: left;
    border-right: 1px solid #156ee2;
}
a {
    display: block;
    padding: 0 28px;
    color: #fff;
    text-decoration: none;
}
a:hover, .active a{
    background-color: #156ee2;
}